<!DOCTYPE html>
  <html>
    <head>
      <title>Random Quote Machine</title>
      <!--Import Fonts from CDN-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title><%= htmlWebpackPlugin.options.title %></title>
      <script src="<%= webpackConfig.output.filename %>"></script>
    </head>

    <body>
      <div class="container">
        <div class="row card white">
          <div class="col s12 center-align">
            <h2>Random Quote Machine</h2>
            <hr>
          </div>
          <div id="quote-box">
            <div class="col s12 offset-m2 m8 center-align">
              <h5 id="text"></h5>
              <em id="author" class="right"></em>
            </div>
          </div>
          <div class="col s12 offset-m2 m8 buttons">
            <a id="tweet-quote" class="btn waves-effect waves-light left" title="Tweet this quote!" href="https://twitter.com/intent/tweet" target="_blank" rel="noreferrer noopener"><i class="fa fa-twitter"></i></a>
            <a id="tumblr-quote" class="btn waves-effect waves-light left" title="Post this quote on tumblr!" href="https://www.tumblr.com/widgets/share/tool?posttype=quote&amp;tags=quotes,freecodecamp&amp;caption=Beverly%20Sills&amp;content=You%20may%20be%20disappointed%20if%20you%20fail%2C%20but%20you%20are%20doomed%20if%20you%20don%E2%80%99t%20try.&amp;canonicalUrl=https%3A%2F%2Fwww.tumblr.com%2Fbuttons&amp;shareSource=tumblr_share_button" target="_blank" rel="noreferrer noopener"><i class="fa fa-tumblr"></i></a>
            <a id="new-quote" class="btn waves-effect waves-light right"><i class="material-icons left">message</i>New Quote</a>
          </div>
        </div>
      </div>
    </body>
  </html>
